// header {
//   background: $secondary;
//   color: $text;
//   width: 100vw;
//   height: 25vh;
//   margin: 0;
//   section {
//     display: inline-flex;
//     align-items: center;
//     width: 100vw;
//     justify-content: space-around;
//     h2 {
//       padding: 0;
//       margin-left: 45vw;
//       width: 35%;
//     }
//     button {
//       justify-content: center;
//     }
//   }
//   .nav-main {
//     margin-top: 5%;
//   }
// }
// .ul-nav{
//   margin: 0;
//   padding:0;
//   font-size: 1.3em;
//   text-align: center;
//   margin-left: 3%;
//   li {
//     display: inline-block;
//     padding: .5%;
//     margin: 0 5%;
//     background: $secondary;
//     &:hover {
//       background: rgba(#8CBCB9, 0.6);
//       transition: 500ms;
//       border-radius: 2px;
//     }
//   }
// }
