// #login {
//     width: 100vw;
//     height: 100vh;
//     text-align: center;
//     background: rgba(0,0,0, 0.8);
//     position: absolute;
//     top: 0;
//     border-radius: 2px;
//     .login-modal {
//         background: $background;
//         width: 40vw;
//         height: 35vw;
//         color: $headings;
//         font-size: 1.5em;
//         text-align: center;
//         margin: 15% auto 0;
//         box-sizing: border-box;
//         h2 {
//             margin: 0;
//             padding-top: 5%;
//         }
//         h3 {
//             font-size: 1em;
//             margin: 0;
//         }
//         input {
//             border: none;
//             width: 35vw;
//             height: 5vh;
//             margin: 0 auto;
//             background: $background;
//             color: $accent;
//         }
//         button {
//             background: $background;
//             color: $primary;
//             border: none;
//             width: 20vw;
//             height: 5vh;
//             font-weight: bold;
//             &:hover {
//                 background: rgba(#8CBCB9, 0.6);
//                 transition: 500ms;
//             }
//         }
//         .sub-signup-section {
//             margin-top: 10%;
//         }
//     }
// }
